@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    max-width: 1200p;
}

@font-face {
    font-family:Axiforma ;
    src: url(../app//fonts//Axiforma-Bold.woff);
}

@font-face {
    font-family:Axiforma-Light ;
    src: url(../app//fonts/Axiforma-Light.eot);
}

@font-face {
    font-family:Montserrat ;
    src: url(../app//fonts/Montserrat-VariableFont_wght.ttf);
}


.Axiforma,h1,h2,h3, h4,Link {
   font-family: Montserrat;
    
}

.Montserrat,p,span {
    font-family: Montserrat;
    

}
